# TF_ENABLE_ONEDNN_OPTS=0
# QT_QPA_FONTDIR=/usr/share/fonts/truetype/dejavu
# OPENCV_LOG_LEVEL=DEBUG
LOG_LEVEL=info
UVICORN_LOG_LEVEL=info

HOST=0.0.0.0
PORT=5002

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_AUTH_USERNAME=deepface
MQTT_AUTH_PASSWORD=deepface

MODEL_GDRIVE_ID=
ADMIN_API_KEY=